h1 {
    text-align: center;
}

.center {
    text-align: center;
}

.form {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.sujet {
    list-style: none;
    background-color: lightgrey;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.sujet a {
    color: black;
    text-decoration: none;
    font-size: large;
}

.sujet:hover {
    background-color: darkgrey;
}

.message {
    list-style: none;
    padding: 5px;
    border-top: 1px solid lightgray;
}