<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{titre}}</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='style.css')}}">
</head>

<body>

  <h1>{{titre}}</h1>

  <ul>
    {% for auteur, contenu in messages %}

    <li class="message"><b>{{auteur}}</b>: {{contenu}} </li>

    {% endfor %}
  </ul>

  <form method="post">
    <p>Message : <input style="width:80%;" type="text" name="message" </p>
    <p><input type="submit"></p>
  </form>
</body>

</html>