<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Connexion</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='style.css')}}">
</head>

<body>
  <div id="connexion">
    <h1>Liste des discussions</h1>

    <p class="center"> Vous êtes connecté en tant que : <b>{{nom}}</b></p>

    <ul>
      {% for titre,id in discussions %}

      <li class="sujet"><a href="./discussion/{{id}}">{{titre}}</a></li>

      {% endfor %}
    </ul>

    <form method="post" class="form">
      <p>Créer une nouvelle discussion</p>
      <p><input style="width:30%;" type="text" name="nouveau_titre">
        <input type="submit">
      </p>
    </form>

    <form method="post" action="./login" class="form">
      <p> Se connecter</p>
      <p>Nom:
        <input type="text" width="15em;" name="nom">
        Mot de passe:
        <input type="password" width="15em;" name="motdepasse">
        <input type="submit">
      </p>
    </form>

    <form method="post" action="./creer_utilisateur" class="form">
      <p>Créer un compte</p>
      <p>Nom:
        <input type="text" width="15em;" name="nom">
        Mot de passe :
        <input type="password" width="15em;" name="motdepasse">
        <input type="submit">
      </p>
      </p>
    </form>
</body>

</html>