<h1 id="pygame-zero---balles-rebondissantes-1">Pygame Zero - Balles rebondissantes 1</h1>
<p><strong>Pygame zero</strong> est une version simplifiée de la bibliothèque Pygame qui sert à créer des jeux en python.</p>
<p>Créez un dossier <code>balles_rebondissantes</code> et ouvrez le avec Codium, puis copiez dans un fichier <code>balles.py</code> :</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode python"><code class="sourceCode python"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true"></a><span class="im">import</span> pgzrun</span>
<span id="cb1-2"><a href="#cb1-2" aria-hidden="true"></a><span class="im">from</span> pgzero.builtins <span class="im">import</span> screen</span>
<span id="cb1-3"><a href="#cb1-3" aria-hidden="true"></a></span>
<span id="cb1-4"><a href="#cb1-4" aria-hidden="true"></a>WIDTH <span class="op">=</span> <span class="dv">640</span></span>
<span id="cb1-5"><a href="#cb1-5" aria-hidden="true"></a>HEIGHT <span class="op">=</span> <span class="dv">480</span></span>
<span id="cb1-6"><a href="#cb1-6" aria-hidden="true"></a>COULEUR_BALLE <span class="op">=</span> (<span class="dv">255</span>,<span class="dv">0</span>,<span class="dv">0</span>)</span>
<span id="cb1-7"><a href="#cb1-7" aria-hidden="true"></a>COULEUR_FOND <span class="op">=</span> (<span class="dv">0</span>,<span class="dv">0</span>,<span class="dv">0</span>)</span>
<span id="cb1-8"><a href="#cb1-8" aria-hidden="true"></a></span>
<span id="cb1-9"><a href="#cb1-9" aria-hidden="true"></a>x <span class="op">=</span> <span class="dv">300</span></span>
<span id="cb1-10"><a href="#cb1-10" aria-hidden="true"></a>y <span class="op">=</span> <span class="dv">200</span></span>
<span id="cb1-11"><a href="#cb1-11" aria-hidden="true"></a>dx <span class="op">=</span> <span class="dv">4</span></span>
<span id="cb1-12"><a href="#cb1-12" aria-hidden="true"></a>dy <span class="op">=</span> <span class="op">-</span><span class="dv">3</span></span>
<span id="cb1-13"><a href="#cb1-13" aria-hidden="true"></a></span>
<span id="cb1-14"><a href="#cb1-14" aria-hidden="true"></a><span class="kw">def</span> draw():</span>
<span id="cb1-15"><a href="#cb1-15" aria-hidden="true"></a>    screen.clear()</span>
<span id="cb1-16"><a href="#cb1-16" aria-hidden="true"></a>    screen.fill(COULEUR_FOND)</span>
<span id="cb1-17"><a href="#cb1-17" aria-hidden="true"></a>    screen.draw.filled_circle((x,y),<span class="dv">10</span>,couleur)</span>
<span id="cb1-18"><a href="#cb1-18" aria-hidden="true"></a></span>
<span id="cb1-19"><a href="#cb1-19" aria-hidden="true"></a><span class="kw">def</span> update():</span>
<span id="cb1-20"><a href="#cb1-20" aria-hidden="true"></a>    <span class="kw">global</span> x,y</span>
<span id="cb1-21"><a href="#cb1-21" aria-hidden="true"></a>    x <span class="op">+=</span> dx</span>
<span id="cb1-22"><a href="#cb1-22" aria-hidden="true"></a>    y <span class="op">+=</span> dy</span>
<span id="cb1-23"><a href="#cb1-23" aria-hidden="true"></a></span>
<span id="cb1-24"><a href="#cb1-24" aria-hidden="true"></a>pgzrun.go()</span></code></pre></div>
<p><strong>Exécutez</strong> le code pour observer le résultat (vous pouvez l’arrêter avec Ctrl+C dans le terminal de Codium)</p>
<ul>
<li>La bibliothèque est utilisable grâce au <code>import pgzrun</code> en haut, et le jeu est lancé avec <code>pgzrun.go()</code> à la fin du fichier;</li>
<li>La bibliothèque appelle alors à intervalles réguliers:
<ul>
<li><code>update()</code> pour mettre à jour les données du jeu</li>
<li><code>draw()</code> pour redessiner l’écran</li>
</ul></li>
<li>Les variables créées à l’extérieur d’une fonction ne peuvent pas être ré-assignées dedans. On peut quand même le faire en les déclarant avec <code>global</code> au début de la fonction, ce qu’on a fait dans la fonction <code>update</code>.</li>
</ul>
<h3 id="rebonds">Rebonds</h3>
<p>Faites rebondir la balle lorsqu’elle touche les bords de l’écran.</p>
<ul>
<li>Faites cela dans la fonction <code>update</code></li>
<li>Un rebond sur un des murs revient à inverser la vitesse verticale ou horizontale (dy ou dx) selon le mur</li>
<li>Réfléchissez au test à faire pour un des murs, et à l’action à prendre. Puis répétez pour les 3 autres murs</li>
</ul>
<h3 id="balles">2 balles</h3>
<p>Ajoutez une deuxième balle, avec une vitesse et une position de départ (voire une couleur et une taille) différente.</p>
<h3 id="balles-1">30 balles</h3>
<p>Mettez 30 balles en tout. Vous allez devoir changer de stratégie car créer 30 variables à la main pour chaque paramètre serait très pénible. Utilisez des listes.</p>
<p>Générez les positions de départ et les vitesses au hasard avec la fonction <code>randint(min, max)</code> du module <code>random</code>.</p>
<h3 id="améliorations">Améliorations</h3>
<ul>
<li><p>Utilisez le rayon des balles pour avoir le rebond pile quand le bord de la balle touche le bord de l’écran.</p></li>
<li><p>Si vous avez le temps, essayez de gérer les collisions entre les balles (commencez avec deux balles, et faites un dessin pour comprendre ce qu’il se passe).</p></li>
</ul>
