/*.md-content { max-width:1000px;}*/

a[href*="//"]:not([href*="tnsi.xyz"]) {
  background-image: url('link-external-16.svg');
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 28px;
}

a[href$="pdf"] {
  background-image: url('file-pdf.svg');
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 22px;
}

.md-typeset {
    font-size:1rem;
}

.md-typeset .admonition,
.md-typeset details {
    font-size:1rem;
}

